extends layout

block content

  //.jumbotron
    .container-fluid
      h1.h1 Welcome to Booky The Bookstore!
      p.lead Well there is some cool stuff here...probably nothing you'll find immediately relevant but hey...just check it out okay. This shit took time

  <div id="frontpageText" class="contentMargins">
    <h3>Welcome to Booky The Bookstore!</h3>
    <p>lead Well there is some cool stuff here...probably nothing you'll find immediately relevant but hey...just check it out okay. This shit took time</p>
  </div>
