extends layout

block content
  #frontpageText
    img#mainbackimage(src="http://2.bp.blogspot.com/-1qi0aQg93EM/Tc2HYX8MOdI/AAAAAAAAAb8/4O-C1gQn5Is/s1600/helio_remg_a_00040.jpg")
    #indexTextContent
      h1#indexPageHeading Imagine, explore, read
      hr(style='width:6em')
      i.fa.fa-book(aria-hidden='true')
      hr(style='width:9em;padding-bottom:10px;')
      p(style='font-size:0.8em')
        | Booky is the book lovers directory. We're book worms, just like you, and we live to explore and commune with fellow book lovers about the stories and books we love and appreciate. Contribute today by adding some of the books you can't help but share. Happy reading.
  // end of frontpageText section
  #rowSection.container
    #indexPageRow.row
      #directoryColumn.column.col-sm-4
        .innerColumn
          .circularImg
            a(href='/books')
              i.fa.fa-folder-open.fa-lg(aria-hidden='true')
          h3 directory
          p Look through our current book list and find something that inspires.
      #addBookColumn.column.col-sm-4
        .innerColumn
          .circularImg
            a(href='/books/new')
              i.fa.fa-book.fa-lg(aria-hidden='true')
          h3 add book
          p Have a book in mind youd like to share, take agency, add it.
      #aboutUsColumn.column.col-sm-4
        .innerColumn
          .circularImg
            a(href='https://github.com/AbrahamFergie/myBooky', target='_blank')
              i.fa.fa-smile-o.fa-lg(aria-hidden='true')
          h3 our code
          p Take a look at how everything thing runs under the hood.
