body {
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://cdn.wallpaper.com/main/05_book_1.jpg");
  background-size: 100% 350%;
  background-repeat: no-repeat;
  background-position: center;*/
  margin-top:0;
  position:relative;
  padding-bottom:3em;
  background-color:#f5e3bd;
}
a{
  color:black;
}
.jumbotron {
  box-shadow: 10px 10px 50px 20px #203737 inset;
  background-color: rgba(255, 255, 255, .8);
  background-image: url("creepyBook.jpg");
}
#nav {
  background-color: rgba(255, 255, 255, .8);
}

.invisible {
  visibility: hidden;
}

.newbook {
  padding-right: 70%;
}
#nav-bar-img {
  max-height: 285%;
  max-width: 285%;
}
#homepage {
  z-index: -1;
  position:absolute;
}
.table-striped{
  margin: 3% 10% 0 10%;
}
.contentMargins{
  margin: 3% 10% 0 10%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
tr{
  font-size:64%;
}
#logoContainer{
  display:inline-block;
}
#logoImg{
  height:5em;
  width:5em;
  margin-left:2em;
  margin-top:-0.8em;
}
#appMarginTop{
  height:1em;
}
#appName{
  display:inline-block;
  font-size:3em;
  color:lightgrey;
  font-family: 'Work Sans', sans-serif;
}
#appName:hover{
  color:skyblue;
}
#appNameMarginTop{
  height:1em;
}
.navLinks{
  float:right;
  margin-left:2em;
  cursor:pointer;
  margin-top:2em;
  color:lightgrey;
  font-size:1.2em;
}
.navLinks:hover{
  text-decoration:none;
  color:skyblue;
}
#appName:hover{
  text-decoration:none;
}
#navigationBar{
  background-color: steelblue;
  margin-top:none;
  height:6em;
}
#searchBar{
  width:20em;
  border:none;
  height:1.8em;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  padding:6px 12px 6px 12px;
}
#submitSearchBtn{
  border:none;
  color:white;
  background-color: #5CB85C;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
#submitSearchBtn:hover{
  background-color:#17b558;
}
#searchBarContainer{
  float:right;
  display:inline-block;
  margin-top:2.3em;
  margin-right:2em;
}
#linkContainer{
  display:inline-block;
  float:right;
  margin-right:2em;
}
#frontpageText{
  text-align:center;
  font-size:2em;
}
hr{
  margin-top:3px;
  margin-bottom:3px;
}
#indexTextContent{
  position:absolute;
  margin-top:-26.1em;
  padding: 6em 6em 10.25em 6em;
  color:white;
  font-family: 'Work Sans', sans-serif;
}
#indexPageHeading{
  margin-bottom:0.6em;
}
#rowSection{
  margin-top:2em;
  margin-bottom:3em;
}
.column{
  height:100%;
}
.innerColumn{
  height:100%;
}
.circularImg{
  background:rgba(0,0,0,0.2);
  border-radius:50%;
  height:3em;
  width:3em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -0.4em;
  padding-top:21px;
}
.circularImg:hover{
  background:rgba(63,142,191,0.2);
  cursor:pointer;
  color:black;
}
fa:hover{
  cursor:pointer;
}
#rowSection2{
  background-color:white;
  width:100%;
  padding: 3em 3em 6em 3em;
}
footer{
  background-color:steelblue;
  height:3em;
  padding-top:0.7em;
  margin-bottom:0;
  width:100%;
  position:absolute;
  font-size:0.7em;
}
#lotsOfBooksImg{
  display:none;
  width:420px;
}
.form-control{
  width:24em;
}
.form{
  text-align:center;
  width:27em;
  margin:auto;
}
#formHorizontalNew{
  text-align:center;
  width:24em;
  margin:auto;
}
.booksPageHeading{
  text-align:center;
  padding: 2em 0 1em 0;
}

/* media queries for responsiveness */

@media(max-width:400px){
  video{
    display:none;
  }
  #indexTextContent{
    padding:1em;
    margin-top:-21em;
    background-color:rgba(0, 0, 0, .5);
  }
  #lotsOfBooksImg{
    display:block;
    margin-top:-2.17em;
  }
  #searchBarContainer{
    min-width:100%;
    background-color:lightgrey;
    padding:1em;
    margin-right:0;
    margin-top:0.67em;
    text-align: center;
  }
  #linkContainer{
    width:51%;
    margin-left:5em;
    float:none;
  }
  .navLinks{
    color:steelblue;
  }
  #frontpageText{
    margin-top:5.5em;
  }
  #linkContainer{
    width:100%;
    background-color:orange;
    margin-right:0;
    margin-left:0;
    padding-right:2em;
  }
  .navLinks{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  .text-center{
    margin-top:4em;
  }
  .form-control{
    width:24em;
  }
  form{
    width:100%;
  }
}
@media only screen and (min-width:401px) and (max-width:420px){
  video{
    display:none;
  }
  #indexTextContent{
    padding:1em;
    margin-top:-21em;
    background-color:rgba(0, 0, 0, 0.5);
  }
  #lotsOfBooksImg{
    display:block;
  }
  #searchBarContainer{
    width:100%;
    background-color:skyblue;
    padding:1em;
    margin-right:0;
    margin-top:0.67em;
    text-align: center;
  }
  /*#linkContainer{
    width:70%;
    float:none;
    margin-left:-2em;
  }*/
  .navLinks{
    color:steelblue;
  }
  #linkContainer{
    width:100%;
    background-color:orange;
    margin-right:0;
    margin-left:0;
    padding-right:2em;
  }
  .navLinks{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  .text-center{
    margin-top:4em;
  }
}
@media only screen and (min-width:420px) and (max-width:595px){
  #searchBarContainer{
    width:100%;
    background-color:limegreen;
    padding:1em;
    margin-right:0;
    margin-top:0.67em;
    text-align:center
  }
  #indexTextContent{
    padding:92px;
  }
  /*#linkContainer{
    width:70%;
    float:none;
    margin-left:-2em;
  }*/
  .navLinks{
    color:steelblue;
  }
  #linkContainer{
    width:100%;
    background-color:orange;
    margin-right:0;
    margin-left:0;
    padding-right:2em;
  }
  .navLinks{
    margin-top:0.5em;
    margin-bottom:0.5em;
  }
  .text-center{
    margin-top:4em;
  }
}
@media only screen and (min-width:596px) and (max-width:660px){
    .navLinks{
      color:steelblue;
    }
    #searchBarContainer{
      width:100%;
      background-color:green;
      padding:1em;
      margin-right:0;
      margin-top:0.67em;
      text-align:center;
    }
    #indexTextContent{
      padding:92px;
    }
    #linkContainer{
      width:100%;
      background-color:orange;
      margin-right:0;
      padding-right:2em;
    }
    .navLinks{
      margin-top:0.5em;
      margin-bottom:0.5em;
    }
    .text-center{
      margin-top:4em;
    }
}
@media only screen and (min-width:661px) and (max-width:760px){
    .navLinks{
      color:steelblue;
    }
    #indexTextContent{
      padding:92px;
    }
    #linkContainer{
      width:100%;
      background-color:orange;
      margin-right:0;
      margin-top:0.67em;
      padding-right:2em;
    }
    .navLinks{
      margin-top:0.5em;
      margin-bottom:0.5em;
    }
    .text-center{
      margin-top:2em;
    }
}
@media only screen and (min-width:761px) and (max-width:890px){
    .navLinks{
      color:steelblue;
    }
    #linkContainer{
      width:100%;
      background-color:orange;
      margin-right:0;
      margin-top:0.67em;
      padding-right:2em;
    }
    .navLinks{
      margin-top:0.5em;
      margin-bottom:0.5em;
    }
    .text-center{
      margin-top:2em;
    }
}
@media only screen and (min-width:891px){}
