body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron {
  background-image: url("creepyBook.jpg");
}

.invisible {
  visibility: hidden;
}

.newbook {
  padding-right: 70%;
}
#nav-bar-img {
  max-height: 275%;
  max-width: 275%;

}
